# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Datasets
data/*.csv
data/processed/

# Environment variables / secrets
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db